nav {
    width: 100%;
    background-color: #739477;
    z-index: 2;
    display: flex;
    justify-content: flex-end; /* Align items to the left */
    align-items: center; /* Center items vertically */
    font-size: 0; /* This is typically to remove extra space between inline-block elements. Consider removing it if not needed. */
    /*padding: 10px;*/ /* Optional: Add some padding for better appearance */
}

    nav > div {
        display: inline-block;
        font-size: 12pt;
    }

.btn-nav {
    background: none;
    border: none;
    border-radius: 0;
    cursor: pointer; /* Add cursor pointer to indicate clickable buttons */
}

::deep a, .btn-nav {
    color: white;
    text-align: center;
    display: block;
    padding: 10px;
}

    ::deep a.active {
        background-color: rgba(255, 255, 255, 0.25);
        color: orange;
    }

    ::deep a:hover, .btn-nav:hover {
        font-weight: bold;
        background-color: rgba(255,255,255,0.1);
    }
